@using System.Text.Json.Serialization
@using SmBlazor
@using System.Text.Json
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<Grid @ref="Grid" Settings=@Settings/>

<Button Color="Color.Primary" Clicked="@ShowModal">Setup</Button>
<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Grid setup</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Settings</FieldLabel>
                
                <MemoEdit @bind-Text="@SettingsJson" Rows="30"/>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Ok">Ok</Button>
            <Button Color="Color.Secondary" Clicked="@Cancel">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {


    private Modal modalRef;

    private Task ShowModal()
    {

        SettingsJson = System.Text.Json.JsonSerializer.Serialize(Settings, Common.smJso);
        return modalRef.Show();
    }

    private Task Ok()
    {
        Settings = System.Text.Json.JsonSerializer.Deserialize<SmGridSettings>(SettingsJson, Common.smJso);
        return modalRef.Hide();
    }

    private Task Cancel()
    {
        return modalRef.Hide();
    }

    protected override async Task OnParametersSetAsync()
    {
        ;
    }

    public string SettingsJson { get; set; } = string.Empty;


    private Grid? Grid { get; set; }

    private SmGridSettings Settings { get; set; } = new SmGridSettings()
    {
        /*DataSourceSettings = new()
        {
            DataSourceType = DataSourceType.Odata,
            //DataSourceApiBaseUri = "https://smdemobackend.azurewebsites.net",
            DataSourceApiBaseUri = "https://localhost:7157",
            DataSourceApiPathUri = "/odata",
            DataSourceApiNameUri = "ProductOdata",
            DataSourceOdataExpand = new List<string>() { "Ext", "Stocks" },
        },/**/
        DataSourceSettings = new()
        {
            DataSourceType = DataSourceType.SmQueryOptions,
            DataSourceApiBaseUri = "https://smdemobackend.azurewebsites.net",
            //DataSourceApiBaseUri = "https://localhost:7157",
            DataSourceApiPathUri = "/api",
            DataSourceApiNameUri = "Product",
        },/**/
    };


    protected override async Task OnInitializedAsync()
    {
        //Settings.StyleSettings = Settings.StyleSettings & (~StyleSettings.BasicScrollBar) | StyleSettings.ExtraScrollBar;
        Settings = await Common.GetFromJsonAsync<SmGridSettings>(JsRuntime, Http, "sample-data/SmGridSettings.json");
    }


}
