label {
    flex-grow: 1;
    background-color: blue;
}

.BS thead tr th {
    overflow: hidden;
}

/****************/
.ES button {
    border: 1px solid #ddd;
    padding: 0px;
    margin: 8px;
    margin-right: 0px;
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
}

.BS .InputDiv .Icon {
    margin: 8px;
}

.BS .GridToolbarDiv {
    display: flex;
    flex-wrap: wrap;
    /*align-items:center;*/
    padding-bottom: 0px;
}


.BS .GridToolbarDiv .InputDiv {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 32px;
    border: 1px solid #ddd;
    margin-top: 9px;
    margin-bottom: 8px;
    /*margin-right:5px;*/
    /*padding: 7px;*/
}
/****************/

.BS table {
    table-layout: fixed;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.BSB .GridBodyDiv {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: auto;
}

.BSB .GridHeadDiv {
    padding-right: 17px;
}


.ES th {
    text-align: left;
    color: #959595;
    font-weight: 400;
}

.ES table {
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.ES table th {
    padding: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.ES .GridBodyDiv, .GridHeadDiv {
    border: 1px solid #ddd;
}

.ES table th:not(:first-child) {
    border-left: 1px solid #ddd;
}

.ES table thead tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}



@-moz-document url-prefix() {
    .ESB .GridHeadDiv {
        padding-right: 8px;
    }
    .ESB .GridBodyDiv {
        overflow: scroll;
        overflow-x: auto;
        scrollbar-width: thin;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .ESB .GridBodyDiv {
        overflow: overlay;
    }
    .ESB ::-webkit-scrollbar {
        width: 8px;
    }
    .ESB ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
    .ESB ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.00);
    }
}