thead tr th {
    overflow: hidden;
}

/****************/
.InputDiv .Icon {
    margin: 8px;
}

.GridToolbarDiv {
    display: flex;
    flex-wrap: wrap;
    /*align-items:center;*/
    padding-bottom: 0px;
}


.GridToolbarDiv .InputDiv {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 32px;
    border: 1px solid #ddd;
    margin-top: 9px;
    margin-bottom: 8px;
    /*margin-right:5px;*/
    /*padding: 7px;*/
}
/****************/

.Grid table {
    table-layout: fixed;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ES th {
    text-align: left;
    color: #959595;
    font-weight: 400;
}

.ES table {
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.ES table th {
    padding: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.ES .GridBodyDiv, .GridHeadDiv {
    border: 1px solid #ddd;
}

.ES table th:not(:first-child) {
    border-left: 1px solid #ddd;
}

.ES table thead tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
/*************/

/*16 px normal scrollbar for all*/
.ES.Grid .GridBodyDiv {overflow: auto;}
.ES.Grid .GridHeadDiv {padding-right: 16px;}


/*thin scrollbar for all*/
.Grid.SBT .GridBodyDiv {scrollbar-width: thin;}
/*10px default for Chrome/Edge/Safari*/
.Grid.SBT .GridHeadDiv {padding-right: 10px;}
/*8px for Firefox */
@supports (-moz-appearance: none) {.Grid.SBT .GridHeadDiv {padding-right: 8px;} }


/*8px scrollbar for all*/
.Grid.SB8 .GridBodyDiv {scrollbar-width: auto;}
.Grid.SB8 .GridHeadDiv {padding-right: 8px;}
.Grid.SB8 .GridBodyDiv::-webkit-scrollbar {width: 8px;}
.Grid.SB8 .GridBodyDiv::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.2);}
.Grid.SB8 .GridBodyDiv::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.0);}
@supports (-moz-appearance: none) {.Grid.SB8 .GridBodyDiv {scrollbar-width: thin;} }

