.BS thead tr th {
    overflow: hidden;
}

.BS table {
    table-layout: fixed;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.BSB .GridBodyDiv {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: auto;
}

.BSB .GridHeadDiv {
    padding-right: 17px;
}


.ES th {
    text-align: left;
    color: #959595;
    font-weight: 400;
}

.ES table {
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.ES table th {
    padding: 7px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.ES .GridBodyDiv, .GridHeadDiv {
    border: 1px solid #ddd;
}

.ES table th:not(:first-child) {
    border-left: 1px solid #ddd;
}

.ES table thead tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}



@-moz-document url-prefix() {
    .ESB .GridHeadDiv {
        padding-right: 8px;
    }
    .ESB .GridBodyDiv {
        overflow: scroll;
        overflow-x: auto;
        scrollbar-width: thin;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .ESB .GridBodyDiv {
        overflow: overlay;
    }
    .ESB ::-webkit-scrollbar {
        width: 8px;
    }
    .ESB ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
    .ESB ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.00);
    }
}