.BS input {
    flex-grow:1;
}

.ES input {
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: none;
    padding: 0px;
    outline: none;
    margin: 0px;
}