@using System.Text.Json.Serialization
@using SmBlazor


<Grid @ref="Grid" Settings=@Settings/>

<div>
    <textarea @bind="SettingsJson" @bind:event="oninput" />
</div>

@code {
    public string SettingsJson { get; set; } = string.Empty;


    private Grid? Grid { get; set; }
    private Settings Settings { get; set; } = new Settings()
        {
            /*DataSourceSettings = new()
            {
                DataSourceType = DataSourceType.Odata,
                //DataSourceApiBaseUri = "https://smdemobackend.azurewebsites.net",
                DataSourceApiBaseUri = "https://localhost:7157",
                DataSourceApiPathUri = "/odata",
                DataSourceApiNameUri = "ProductOdata",
                DataSourceOdataExpand = new List<string>() { "Ext", "Stocks" },
            },/**/
            DataSourceSettings = new()
            {
                DataSourceType = DataSourceType.SmQueryOptions,
                //DataSourceApiBaseUri = "https://smdemobackend.azurewebsites.net",
                DataSourceApiBaseUri = "https://localhost:7157",
                DataSourceApiPathUri = "/api",
                DataSourceApiNameUri = "Product",
            },/**/
        };

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(0);

        //var exmodel = DtoTypeBuilder.ExampleSmEdmModel();
        //Gd.RowType = DtoTypeBuilder.GetType(exmodel, "Product");
        //Gd.DataSource.Aaaa();

        Settings.Height = 300;
        Settings.FirstTopCount = 5;

        //Gd.RowType = typeof(Models.Product);
        //Gd.RowType = typeof(SmBlazor.Product);

        //opcionális cuccok

        Settings.Columns.Add(new Column() {FieldName = "Ext.ProbaList", PropertyTypeName = "List<string>", Width = 60, Visible = false, });
        Settings.Columns.Add(new Column() {FieldName = "Ext.Aa.Proba", Width = 60, Visible = false, });
        Settings.Columns.Add(new Column() {FieldName = "Id", PropertyTypeName = "Guid", Title = "Id", Width = 150,});
        Settings.Columns.Add(new Column() {FieldName = "Code", Width = 60, Visible = true, });
        Settings.Columns.Add(new Column() {FieldName = "Name", Title = "Név", Width = 170,});
        Settings.Columns.Add(new Column() {FieldName = "Active", PropertyTypeName = "bool", Title = "Aktív", Width = 20,});
        Settings.Columns.Add(new Column() {FieldName = "Price", PropertyTypeName = "double", Title = "Ár", Width = 40, RightAligned = false,});
        Settings.Columns.Add(new Column() {FieldName = "Rating", PropertyTypeName = "int", Width = 20,});
        Settings.Columns.Add(new Column() {FieldName = "ReleaseDate", PropertyTypeName = "DateTime", Width = 90,});
        Settings.Columns.Add(new Column() {FieldName = "Type", PropertyTypeName ="DemoModels.ProductType", Width = 40, });
        Settings.Columns.Add(new Column() {FieldName = "Ext.Description",  Width = 60,});
        Settings.StyleSettings = Settings.StyleSettings & (~StyleSettings.BasicScrollBar) | StyleSettings.ExtraScrollBar;


        //SettingsJson = System.Text.Json.JsonSerializer.Serialize(Settings.Columns, new System.Text.Json.JsonSerializerOptions() { WriteIndented = true,} );
        SettingsJson = System.Text.Json.JsonSerializer.Serialize(Settings, new System.Text.Json.JsonSerializerOptions() { WriteIndented = true, Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping} );
        //Gd.FlexibleWidthColumn = Gd.GetColumn("Price");
    }

}
